{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>公寓管理 <small></small></h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-lg-6">
                                        <a type="button" class="btn btn-primary" href="/flat/option/">添加</a>

                                </div>


                            </div>


                            <table class="table">
                                <thead>
                                <tr>

                                    <th>公寓编号</th>
                                    <th>用户名</th>
                                    <th> 屋主ID</th>

                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for datum in page %}
                                    <tr>
                                        <td>{{ datum.flatid }}</td>
                                        <td>{{ datum.flatname }}</td>
                                        <td>{{ datum.hostid.username }}</td>

                                        <td>
                                            <a type="button" class="btn btn-danger"
                                               href="/flat/del/?flatid={{ datum.flatid }}">删除</a>
    <a type="button" class="btn btn-danger"
                                               href="/flat/option/?flatid={{ datum.flatid }}">编辑</a>

                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            <ul class="pagination">

                                {% for foo in page.paginator.page_range %}
                                    {% ifequal foo page.number %}
                                        <li class="active"><a href="/flat/list/?page={{ foo }}">{{ foo }}</a>
                                        </li>
                                    {% else %}
                                        <li><a href="/flat/list/?page={{ foo }}">{{ foo }}</a>
                                        </li>

                                    {% endifequal %}
                                {% endfor %}


                            </ul>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}



