{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>设置角色权限 <small></small></h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-lg-6">
                                        <a type="button" class="btn btn-primary" href="/role/limit/option/">新增禁用家具</a>

                                </div>


                            </div>


                            <table class="table">
                                <thead>
                                <tr>


                                    <th>编号</th>
                                    <th>角色名称</th>
                                    <th>角色ID</th>
                                    <th>所属公寓</th>
                                    <th>所属房间</th>
                                    <th>警用家具ID</th>
                                    <th>警用家具名称</th>
                                    <th>操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for datum in page %}
                                    <tr>
                                        <td>{{ datum.number }}</td>
                                        <td>{{ datum.roleid.rolename }}</td>
                                        <td>{{ datum.roleid.roleid }}</td>
                                        <td>{{ datum.limitsfurnitureid.roomid.flatid.flatname }}</td>
                                        <td>{{ datum.limitsfurnitureid.roomid.roomname }}</td>
                                        <td>{{ datum.limitsfurnitureid.furnitureid }}</td>
                                        <td>{{ datum.limitsfurnitureid.furniturename }}</td>
                                    <td>  <a type="button" class="btn btn-danger"
                                               href="/role/limit/del/?id={{ datum.number }}">移除</a></td>


                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            <ul class="pagination">

                                {% for foo in page.paginator.page_range %}
                                    {% ifequal foo page.number %}
                                        <li class="active"><a href="/multi/list/?page={{ foo }}">{{ foo }}</a>
                                        </li>
                                    {% else %}
                                        <li><a href="/multi/list/?page={{ foo }}">{{ foo }}</a>
                                        </li>

                                    {% endifequal %}
                                {% endfor %}


                            </ul>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}



